.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.navbar-logo {
    font-size: 32px;
    font-weight: 500;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
}
